.searchBar{
  width:100%; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); padding:10px 0;
}
.notes-grid {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .noteForm{
    box-sizing: border-box;
    border: 1px solid #ddd;
    /* padding: 20px; */
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: relative; 
  }
  .note-card {
    
    width: auto;
    margin-bottom: 40px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    padding: 20px 30px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    
  }

  .modifyBtn,.deleteBtn{
      color:white; border-radius: 4px; position:absolute; bottom:5px; padding:0 2px;
      transition: transform 0.3s ease-in-out;}
  .deleteBtn{right:5px;  background:red } 
  .deleteBtn:hover{
transform: scale(1.2) translateX(-20%); z-index: 3;
  }
  .modifyBtn{left:5px; background:blue;}
  .modifyBtn:hover{
    transform: scale(1.2) translateX(20%); z-index: 3;
      } 
      .btns{display: flex; position:relative}

  
  